* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 2em;
    font-family: sans-serif;
}

:root {
    --form-bg-color: lightgray;
    --form-title-bg-color: gray;
    --form-title-color: white;
    --form-width: 400px;
    ;
}

/* Common  */

div.form-title {
    display: flex;
    justify-content: center;
    background-color: var(--form-title-bg-color);
    width: var(--form-width);
    padding: .5em 0 .5em 0;
    font-size: 150%;
    font-weight: 600;
    color: var(--form-title-color);
}

section.horizontal-form input,
section.vertical-form input {
    padding: .3em;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    border: none;
}


/* Horizontal */

section.horizontal-form {
    width: var(--form-width);
    padding: .5em;
    background-color: var(--form-bg-color);
}

section.horizontal-form>div {
    display: grid;
    grid-template-columns: 7rem auto;
    align-items: center;
    padding-top: .3em;
}

section.horizontal-form>div>div {
    grid-column: 1 / 3;
    color: red;
    padding: .2em 0 .2em 0;
}

section.horizontal-form>div:nth-child(1) {
    padding-top: 1em;
}

section.horizontal-form>div:last-child {
    padding-bottom: 1em;
}


/* Vertical */

section.vertical-form {
    width: var(--form-width);
    padding: .5em;
    background-color: var(--form-bg-color);
}

section.vertical-form>div {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    align-items: center;
    padding-top: .3em;
}

section.vertical-form>div>label {
    padding-bottom: .4em;
}

section.vertical-form>div>div {
    /* Error message. */
    color: red;
    padding: .4em 0 .2em 0;
}

section.vertical-form>div:nth-child(1) {
    padding-top: 1em;
}

section.vertical-form>div:last-child {
    padding-bottom: 1em;
}

.ro {
    border: 1px dashed red;
}

.bo {
    border: 1px dashed blue;
}

.po {
    border: 1px solid purple;
}


/* Buttons */

div.button-group {
    padding: 0 .5em .8em .5em;
    width: var(--form-width);
    display: grid;
    grid-template-columns: repeat(6, minmax(4em, 5em));
    justify-content: center;
    background-color: var(--form-bg-color);
}

.three-up .btn-left {
    grid-column: 1 / 3;
}

.three-up .btn-center {
    grid-column: 3 / 5;
}

.three-up .btn-right {
    grid-column: 5 / 7;
}

.two-up .btn-left {
    grid-column: 2 / 4;
}

.two-up .btn-right {
    grid-column: 4 / 6;
}

.standard-btn {
    display: inline-block;
    border-radius: 2px;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 .4em 0 .4em;
    color: whitesmoke;
    background-color: gray;
}

.primary-btn {
    color: whitesmoke;
    background-color: blue;
}

.secondary-btn {
    color: whitesmoke;
    background-color: gray;
}


/* Filament Group select tag */

/* class applies to select element itself, not a wrapper element */
.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
		
    */
    /*                                                                                                                                                           Color is specified with the six hex characters between the %23 and %22 
    /*                                                                                                                                                                                          |xxxxxx|*/
    /*
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #DCDCDC 0%,#DCDCDC 100%);
    */      

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 292.4 292.4'%3E%3Cpath d='M287 69.4c-3.4-3.5-8.1-5.5-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4C2 72.7 0 77.4 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8s-1.9-9.2-5.5-12.8h.1z' fill='%23007CB2'/%3E%3C/svg%3E"),
      linear-gradient(to bottom, #DCDCDC 0%,#DCDCDC 100%);

    background-repeat: no-repeat, repeat;

    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/

    background-position: right .7em top 50%, 0 0;

    /* icon size, then gradient */
	background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
	display: none;
}
/* Hover style */
.select-css:hover {
	border-color: #888;
}
/* Focus style */
.select-css:focus {
	border-color: #aaa;
	/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222; 
	outline: none;
}

/* Set options to normal weight */
.select-css option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}


